<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductName="Open The Door" ?>
  <?define Version="1.0.1" ?>
  <?define ProductCode="E45BC28E-4CCD-4889-90D8-0342C4EEE90F" ?>
  <?define UpgradeCode="5A463C74-0865-4B77-9876-A9247F8AC498" ?>
  <?define Manufacturer="SADM"?>
  <?define ConfigFile="[INSTALLFOLDER]OpenTheDoor.exe.config" ?>
	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="OTDClientSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    <Icon Id="OpenTheDoor.exe" SourceFile="whitekey.ico"/>
    <Property Id="ARPPRODUCTICON" Value="OpenTheDoor.exe" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="OTDAPIADDRESS" Value="http://otd:2701/otd/" />
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf" />
    <UIRef Id="SetupDialogUI" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		  <Component Id="OTDClient" Guid="4391D118-3C3A-41ED-81B2-E507C30986A2" Win64="yes">
        <File Id="OTDClient" Source="..\OTDClient\build\OpenTheDoor.exe" KeyPath="yes" Checksum="yes" />
        <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
			</Component>
      <Component Id="ClientConfig" Guid="F5C864BB-7814-42A2-952D-C7934D01E41E" Win64="yes">
        <File Id="ClientConfig" Source="..\OTDClient\build\OpenTheDoor.exe.config" KeyPath="yes" />
        <util:XmlFile Id="UpdateOTDAPIAddress"
                      File="$(var.ConfigFile)"
                      Action="setValue"
                      Permanent="yes"
                      SelectionLanguage="XPath"
                      ElementPath="/configuration/appSettings/add"
                      Name="value"
                      Value="[OTDAPIADDRESS]" />
			</Component>
      <Component Id="RegistryEntries" Guid="BF38FDC2-C918-48A7-9C88-CCA64BF0FAF9">
        <RegistryKey Root="HKCR" Key="otd">
          <RegistryValue Type="string" Value="URL:Open The Door" KeyPath="yes" />
          <RegistryValue Name ="URL Protocol" Type="string" Value="" />
          <RegistryValue Key="DefaultIcon" Type="string" Value="[INSTALLFOLDER]OpenTheDoor.exe,0" />
          <RegistryValue Key="shell\open\command" Type="string" Value="&quot;[INSTALLFOLDER]OpenTheDoor.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\ActionCenter\Quick Actions\All\QuickActions_Launcher_OpenTheDoor">
          <RegistryValue Name="FriendlyName" Type="string" Value="SADM.QuickAction.OpenTheDoor" />
          <RegistryValue Name="Icon" Type="integer" Value="59607" />
          <RegistryValue Name="IsAllowedAboveLock" Type="integer" Value="0" />
          <RegistryValue Name="Title" Type="integer" Value="96" />
          <RegistryValue Name="Type" Type="integer" Value="2" />
          <RegistryValue Name="Uri" Type="string" Value="otd:open" />
        </RegistryKey>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
