<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="otd:APIAddress" value="http://otd:2701/otd/" />
    <!--Must be terminated with a forward slash ("/")-->
    <add key="otd:remoteServerGET" value="http://remoteHost/getRequest?param1=1&amp;param2={ROOM}" />
    <!--{ROOM} will be replaced with user's physicalDeliveryOfficeName attribute of Active Directory user account-->
  </appSettings>
</configuration>